<div class="jumbotron">
  <h1>Welcome to my blog</h1>
  <p>Please enjoy</p>
  <p>
    <%= link_to "Enter the blog !", {controller: "articles", action: "blog"}, class: "btn btn-primary btn-lg" %>
  </p>
</div>